.navbar-top {
	display: auto;
	position: fixed;
	width: 100vw;
	z-index: 10;

	/*-webkit-box-shadow: 0px 10px 24px 7px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 24px 7px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 24px 7px rgba(0,0,0,0.75);*/

	border-radius: 0px 0px 0px 0px;
    -moz-border-radius: 0px 0px 0px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
}

header {
	height: 93vh;
}

main {
	padding: 0 !important;
}