@font-face {
	font-family: "coolvetica";
	src: url(../fonts/coolvetica.ttf);
}

@font-face {
	font-family: "caviar-dreams";
	src: url(../fonts/CaviarDreams.ttf);
}

html {
	/*background-color: #303030;*/
}

body {
	margin: 0;
}

/*----  Base Template ----*/
/*----  Navigation Bar ----*/

.nav-active {
	-webkit-box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.58);
	-moz-box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.58);
	box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.58);
}

nav {
	border: 0px !important;
	padding-left: 0px;
	margin-bottom: 0 !important;
}

.button {
	padding: 5px;
	background-color:  #eceaea;
	border-radius: 10px;
	color: black;
}	

.nav-bottom {
	margin: 0;
	padding: 0 !important;
}

.login-button {
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 15px;
}

.user-avatar {
	height: 50px;
	padding-right: 5px;
	padding-top: 5px;
}

.user-info {
	display: inline-block;
	vertical-align: middle;
	padding-left: 8px;
}

.search {
   padding-right: 5px;
}

/*----  Index Template ----*/
/*----  Image Block ----*/

#image-block {
	height: 400px;
	/*background-image: url(../img/education-stock-image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;*/
	
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.video-container
{
    /*position:absolute;*/
    height:100vh;
    width:100%;
    overflow: hidden;
}

.video-container video 
{
	position: fixed;
	z-index: -10;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;

}

.vcenter {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.74);

    /*border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;*/
}

.vcenter div {
	margin: 0 auto; 
    text-align: center;
    width: inherit;
    display: inline-block;
}

#get-started {
	color: rgb(76, 76, 76);
	font-size: 350%;
	-webkit-text-stroke: 0.25px black;
	display: block;
	text-align: center;
	font-family: coolvetica;
}

.get-started-button {
	color: rgb(146, 146, 146);
	font-family: coolvetica;
	font-size: 20pt;

	font-style: italic;

	width: 200px;

	padding: 10px 10px;
	margin: 15px 15px;
	background-color: rgba(255, 255, 255, 0.68);

	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
}

.get-started-button:hover {
	background-color: rgb(146, 146, 146);
	text-decoration: none;
	color: rgba(255, 255, 255, 0.68);;
}


main {
	background-color: white;
	padding: 25px;
}

main .blurb .row {
	display: flex;
  	align-items: center;
  	justify-content: center;

	background-color: white;
	padding: 0px;
	margin: 50px 0;

	min-height: 300px;

	-webkit-box-shadow: 0px 10px 30px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 30px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 30px 1px rgba(0,0,0,0.75);
}

main .blurb .row .col-md-6 {
	margin: 0px;
}

.sp {
	text-align: center;
	font-size: 4vmin;
	font-family: caviar-dreams;

	padding: 50px;

	height: 100%;
	align-items: center;
  	justify-content: center
}


main .blurb .row img {
	padding: 0;
	height: 300px;
	width: 300px;
}

main .blurb .row div {
	padding: 50px 0;
	display: flex;
  	align-items: center;
  	justify-content: center
}

/*main .blurb .row div img { 
	height: 300px;
	width: 300px;
	padding: 0 !important;

	border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
	border: 0px solid #000000;
}*/

.selling-point {
	color: white;
	font-size: 30px;
    font-size: 6vmin;
	-webkit-text-stroke: 0.5px black;
	text-align: center;
	font-family: coolvetica;
	padding-left: 5px;
	padding-right: 5px;
	background-color: rgba(255, 255, 255, 0.15);
}

footer {
	background-color: #303030;
	height: 200px;

	color: #515151;;

	box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
}

.header {
   padding-left: 30px;
   padding-bottom: 10px;
   font-family: coolvetica;
}

.social-icon img {
	width:42px;
	height:42px;
	border:0
}

.pw-button {
	padding-top: 10px;
	padding-left: 15px;
}

/*----  Pathways Template ----*/
/*----  Pathway Container ----*/
.profile-pathway {
	height: 700px;
}

#pathway-container {
	height:100vh;
    width:100%;
    overflow: hidden;
}

.overlay{
      background-color:#EEE !important;
  }

.qualifification-section {
	padding: 7px;
	margin: 35px;
	background-color: green;
	height: 130px;
	
}

.edit-button {
	height: 20px;
	width: 50px;
	background-color: red;
	
	float: right;
	position: absolute;
	top: 0;
	right: 0;
}

.pathway-buttons {
	background-color: #F8F8F8;
	height: 7vh;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.pathway-buttons .col-md-4 {
	height: 100%;
	padding: 0;
	border-right: 1px dotted black;
	border-left: 1px dotted black;
}

.pathway-buttons .col-md-4 a {
	height: 100%;
	width: 100%;

	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
	justify-content: middle;
}

.pathway-buttons .col-md-4 a div {
	text-align: center;
	width: 100%;

}

/*----  Pathway Nodes ----*/
.node {
	/*fill: black;*/
	fill: #fff;
   	stroke: #428bca;
   	stroke-width: 3px;
}

.node-future {
	stroke: #5cb85c !important;
}

.tooltip {
	fill: #fff;
   	stroke: steelblue;
   	stroke-width: 3px;
}

.node-label {
	font: 12px sans-serif;
}

.link {
   fill: none;
   stroke: #ccc;
   stroke-width: 2px;
 }


.admin-user-list {
	float: left;
	margin-right: 100px;
}

.admin-delete {
	float: right;
}

/*----  Edit Profile ----*/
.list-skills {
	list-style-type: none;
	margin: 10px 10px 10px 0;
	padding: 0;
}

.list-skills li {
	display: inline-block;
	margin: 3px 3px 3px 0;

	color: #fff;
	background-color: #3783c5;

	padding: 3px;

	border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
	border: 1px solid #204d74;
}

.search-result {
	display: block;
	background-color: #F8F8f8;
	color: black;
	margin: 5px 0;
	padding: 10px;
}

.report-comment {
	display: inline;
}

.profile {
	margin: 0;
}

.profile div {
	margin: 0;
	padding: 0;
}

.profile-name {
	/*font-family: caviar-dreams;*/
	text-align: center;
	font-size: 20pt;
}

.profile-image-wrapper {
	width: 100%;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.profile-image-wrapper img {
	margin-top: 25px;
	margin-bottom: 25px;
}

.profile-actions {
	text-align: center;
}

.profile-actions div {
	margin: 0 auto; 
    text-align: center;
    width: inherit;
    display: inline-block;
}

.profile-skills {
	margin: 25px !important;
}

.navbar-center {
	margin: 0px;
	padding: 0px;
	height: 7vh;
}

.navbar-center .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar-center .navbar-collapse {
  text-align: center;
}

.btn-group-vertical {
	text-align: center;
}

.path-nav a {
	display: block;
	text-align: center;
	padding: 15px;
}

.path-nav svg {
	display: block;
	text-align: center;
	padding: 15px;
	height: 20px;
}