@font-face {
	font-family: "coolvetica";
	src: url(../fonts/coolvetica.ttf);
}

html {
	font-family: coolvetica;
}

body {
	margin: 0;
}

/*----  Base Template ----*/
/*----  Navigation Bar ----*/
nav {
	background-color: #33ff66;
}

nav #top {
	background-color: red;
}

nav #top #logo {
	font-size: 25pt;
	padding: 10px
}

nav #bottom {
	background-color: #FF9999;
}

nav #bottom ul {
	margin: 0;
	padding: 10px;
}

nav #bottom ul li {
	display: inline-block;
}

/*----  Index Template ----*/
/*----  Image Block ----*/

#image-block {
	height: 400px;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/c4/PM5544_with_non-PAL_signals.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.header-image {

}