@font-face {
	font-family: "coolvetica";
	src: url(../fonts/coolvetica.ttf);
}

@font-face {
	font-family: "caviar-dreams";
	src: url(../fonts/CaviarDreams.ttf);
}

html {
	background-color: #303030;
}

body {
	margin: 0;
}

/*----  Base Template ----*/
/*----  Navigation Bar ----*/


.nav-bottom {
	margin: 0;
	padding: 0 !important;
}

.user-avatar {
	height: 50px;
}

.user-info {
	display: inline-block;
	vertical-align: middle;
}

/*----  Index Template ----*/
/*----  Image Block ----*/

#image-block {
	height: 400px;
	/*background-image: url(../img/education-stock-image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;*/
	
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.video-container
{
    /*position:absolute;*/
    height:100vh;
    width:100%;
    overflow: hidden;
}

.video-container video 
{
	position: fixed;
	z-index: -10;
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;

}

.vcenter {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.vcenter div {
	display: flex;
  	align-items: center;
  	justify-content: center
}

#get-started {
	color: white;
	font-size: 350%;
	-webkit-text-stroke: 0.25px black;
	display: block;
	text-align: center;
	font-family: coolvetica;
}

#get-started-button {
	background-color: green;
	padding: 25px 50px;
}


main {
	background-color: white;
	padding: 25px;
}

main .blurb .row{
	background-color: white;
	padding: 0px;
	margin: 50px 0;

	height: 400px;

	-webkit-box-shadow: 0px 10px 30px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 30px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 30px 1px rgba(0,0,0,0.75);
}

main .blurb .row .col-md-6 {
	margin: 0px;
}

main .blurb .row p {
	text-align: center;
	font-size: 22pt;
	font-family: caviar-dreams;

	padding: 0 50px;

	height: 400px;
  	display: flex;
  	align-items: center;
  	justify-content: center
}

main .blurb .row img {
	padding: 0;
	width: 100%
}

main .blurb .row div {
	padding: 50px 0;
	display: flex;
  	align-items: center;
  	justify-content: center
}

main .blurb .row div img { 
	height: 300px;
	width: 300px;
	padding: 0 !important;

	border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
	border: 0px solid #000000;
}

footer {
	background-color: #303030;
	height: 200px;

	color: #515151;;

	box-shadow: inset 0 7px 9px -7px rgba(0,0,0,0.4);
}

/*----  Pathways Template ----*/
/*----  Pathway Container ----*/
#pathway-container {
	background-color: red;
	height: 350px;
}

.overlay{
      background-color:#EEE !important;
  }

.qualifification-section {
	padding: 7px;
	margin: 35px;
	background-color: green;
	height: 130px;
	
}

.edit-button {
	height: 20px;
	width: 50px;
	background-color: red;
	
	float: right;
	position: absolute;
	top: 0;
	right: 0;
}

/*----  Pathway Nodes ----*/
.node {
	/*fill: black;*/
	stroke: black;
	stroke-width: 3;
}

.tooltip {
	stroke: black;
	stroke-width: 3;
}

.node-label {
	text-align: right;
}

/*.node-level-1 {
	fill: orange !important;
}

.node-level-2 {
	fill: red !important;
}

.node-level-3 {
	fill: yellow !important;
}

.node-level-4 {
	fill: cyan !important;
}

.node-level-5 {
	fill: coral !important;
}

.node-level-6 {
	fill: green !important;
}*/