/*@font-face {
	font-family: "coolvetica";
	src: url(../fonts/coolvetica.ttf);
}

html {
	font-family: coolvetica;
}

body {
	margin: 0;
}

/*----  Base Template ----*/
/*----  Navigation Bar ----*/


.nav-bottom {
	margin: 0;
	padding: 0 !important;
}

.user-avatar {
	height: 50px;
}

.user-info {
	display: inline-block;
	vertical-align: middle;
}

/*----  Index Template ----*/
/*----  Image Block ----*/

#image-block {
	height: 400px;
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/c4/PM5544_with_non-PAL_signals.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.vcenter {
    max-width: 50%;
    align-items: center;
  	justify-content: center;
}

#get-started {
	color: #33FF66;
	display: block;
	text-align: center;
}

#get-started-button {
	width: 125px;
	height: 50px;
	margin: auto auto;
	text-align: center;
	display: block;
}


main {
	background-color: #CFCFCF;
	margin: 25px;
}

/*----  Pathways Template ----*/
/*----  Pathway Container ----*/
#pathway-container {
	background-color: red;
	height: 350px;
}

.qualifification-section {
	padding: 15px;
	margin: 5px;
	background-color: green;
}