/*@font-face {
	font-family: "coolvetica";
	src: url(../fonts/coolvetica.ttf);
}

html {
	font-family: coolvetica;
}

body {
	margin: 0;
}

/*----  Base Template ----*/
/*----  Navigation Bar ----*/


.nav-bottom {
	margin: 0;
	padding: 0 !important;
}

.user-avatar {
	height: 50px;
}

.user-info {
	display: inline-block;
	vertical-align: middle;
}

/*----  Index Template ----*/
/*----  Image Block ----*/

#image-block {
	height: 400px;
	/*background-image: url(../img/education-stock-image.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;*/
	
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.video-container
{
    /*position:absolute;*/
    height:100%;
    width:100%;
    overflow: hidden;
}

.video-container video 
{
    min-width: 100%;
    min-height: 100%;
}

.vcenter {
    max-width: 50%;
    align-items: center;
  	justify-content: center;
}

#get-started {
	color: #33FF66;
	display: block;
	text-align: center;
}

#get-started-button {
	width: 125px;
	height: 50px;
	margin: auto auto;
	text-align: center;
	display: block;
}


main {
	background-color: #CFCFCF;
	margin: 25px;
}

/*----  Pathways Template ----*/
/*----  Pathway Container ----*/
#pathway-container {
	background-color: red;
	height: 350px;
}

.overlay{
      background-color:#EEE !important;
  }

.qualifification-section {
	padding: 7px;
	margin: 35px;
	background-color: green;
	height: 130px;
	
}

.edit-button {
	height: 20px;
	width: 50px;
	background-color: red;
	
	float: right;
	position: absolute;
	top: 0;
	right: 0;
}

/*----  Pathway Nodes ----*/
.node {
	/*fill: black;*/
	stroke: black;
	stroke-width: 3;
}

.tooltip {
	stroke: black;
	stroke-width: 3;
}

.node-label {
	text-align: right;
}

/*.node-level-1 {
	fill: orange !important;
}

.node-level-2 {
	fill: red !important;
}

.node-level-3 {
	fill: yellow !important;
}

.node-level-4 {
	fill: cyan !important;
}

.node-level-5 {
	fill: coral !important;
}

.node-level-6 {
	fill: green !important;
}*/