<p> Dear {{ user.first_name }} {{ user.last_name }}</p>

<p>You have sent a request to delete your account.</p>

<p>To delete your account, please go to <a href = {{ url_for('auth.delete_account', token=token, _external = True) }}> this link </a> and re-enter your password there.</p>

<p>Alternatively, copy and paste the following link into your browser's address bar</p>
<p>{{ url_for('auth.delete_account', token=token, _external = True) }}</p>

<p>Sincerely,</p>

<p>The Reflective Pathways Team</p>