{% extends "base.html" %}

<!-- Add page specific <head></head> elements here -->
{% block head_extension %}
{% endblock %}

<!-- Page header 100% width -->
{% block header_content %}
{% endblock %}

<!-- Main content block for page -->
{% block main_content %}
   <p>Welcome to Pathways.</p>

   <p>We’re here to help you plot out your career path from start to finish, using a combination of your education, work experience and personal interests we can show you a range of possible career and field options that would be open to you.</p>

   <p>We take into account the latest qualification data from a range of sources so that we can offer you up-to-date information about degree and career choice.</p>

	<p>Pathways was developed by Reflective Engineering in collaboration with Locke Martin Civil and Heriot-Watt University.</p>

	<p>Connect to us:<br>
	   Twitter: @Pathways<br>
	   Email: hello@pathways.com<br>
	   Website: reflectiveengineering.co.uk<br>
	   Facebook: facebook.com/pages/pathways<br>
	   Google+: googleplus.com/nooneusesthiswebsite
	</p>

{% endblock %}
