{% extends "admin-base.html" %}
{% set active_page = 'index' %}

{% block header_content %}
  <div class="header">
     <h1>Admin Home Page</h1>
  </div>
{% endblock %}

{% block main_content %}
    <h2>Welcome Admin!</h2>
    <br>
    <p>If you wish to alter the database, go to the Database tab.</p>
    <p>If you wish to view all users in the database and perform an action on one, go to the User tab.</p>
    <p>If you wish to view all reported comments and perform an action on one, go to the Report Comments tab.</p>
{% endblock %}