{% extends "admin-base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% set active_page = 'users' %}

{% block header_content %}
  <div class="header">
     <h1>Users</h1>
  </div>
{% endblock %}

{% block main_content %}
    <h2>All users</h2>
    <div class = "admin-user-list">
    <ul>
      {% for user in users %}
      <li>Username: <a href="{{ url_for('main.user', username=user.username) }}">{{ user.username }}</a> | Name: "{{ user.first_name }} {{ user.last_name }}"</li>
      {% endfor %}
    </ul>
    <p>Number Of Users: {{ users|length }}</p>
    </div>
    <div class = "admin-user-list">
        <p> Enter the username of a user you want to delete in the field below:</p>
        {{ wtf.quick_form(form1) }}
        <br>
        <br>
        <p> Enter the username of a user who you wish to send a warning email to because of an inappropriate profile avatar:</p>
        {{ wtf.quick_form(form2) }}
        <br>
        <br>
        <p> Enter the username of a user you wish to send a custom email to, then write only the body of the email in the box below:</p>
        {{ wtf.quick_form(form3) }}
        <br>
    </div>
{% endblock %}