{% extends "admin-base.html" %}

{% block header_content %}
  <div class="header">
     <h1>Database Management</h1>
  </div>
{% endblock %}

{% block main_content %}
    <div class="col-md-4">
      <form action="" method="post" name="admin">
        {{ form1.hidden_tag() }}
          <p>
              <p>{{ form1.submit }}</p>
          </p>
      </form>
      <form action="" method="post" name="admin">
        {{ form2.hidden_tag() }}
          <p>
              <p>{{ form2.submit }}</p>
          </p>
      </form>
    </div>

{% endblock %}