{% extends "admin-base.html" %}

{% block header_content %}
  <h1>Database Management</h1>
{% endblock %}

{% block main_content %}
    <div class="row">
        <a href="{{ url_for('admin.insert_qualifications') }}">Load qualifications</a>
    </div>
    <div class="row">
        <a href="{{ url_for('admin.uni_courses') }}"> Load uni course</a>
    </div>
    <h3>Careers</h3>
    <div class="row">x
        <a href="{{ url_for('admin.get_careers') }}">Update Careers</a>
    <div class="row">
    {% for c in careers %}
    <p><a href="{{ url_for('main.career', careername=c.name) }}">{{ c.name }}</a></p>
    {% endfor %}

{% endblock %}