<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="version" content="1.0.0">
        <meta name="author" content="Aaron Walwyn">
        <meta name="description" content="Hogcraft 3.0">

        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/stylesheet.css') }}">

        <script src="{{ url_for('static', filename='js/jquery-2.1.4.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

        {% if title %}
        <title>{{ title }} - Pathways</title>
        {% else %}
        <title>Pathways</title>
        {% endif %}
    </head>
    <body>
        <nav>
            <div id="top">
                <div id="logo">Pathways</div>
            </div>
            <div id="bottom">
                <ul>
                    <li>Home</li>
                    <li><a href="{{ url_for('user', user_id=1) }}" >Your Pathway</a></li>
                    <li>About</li>
                </ul>
            </div>
        </nav>
        <!--<div>Pathways| <a href="/index">Home</a></div>
        <hr>-->
        <main>
            {% block content %}{% endblock %}
        </main>
    </body>
</html>