{% extends "base.html" %}

{% block header_content %}
   <div class="header">
      <h1>Connections</h1>
   </div>
{% endblock %}

{% block nav_overwrite %}
  <li><a href="{{ url_for('main.index') }}">Home <span class="sr-only">(current)</span></a></li>
  <li><a href="{{ url_for('main.pathway') }}">Your Pathway</a></li>
  <li><a href="{{ url_for('main.user', username=current_user.username) }}">Your Profile</a></li>
  <li class="nav-active"><a href="{{ url_for('main.connections') }}">Connections</a></li>
{% endblock %}

{% block main_content %}
    <h2><small>Connections</small></h2>
    {% for user in current_user.connections %}
       <div class="side-padding">
          <li><a href="{{ url_for('.user', username=user.username) }}">{{ user.first_name }} {{ user.last_name }}</a></li>
       </div>
    {% endfor %}
    <!--<br><h2><small>All users</small></h2>
    {% for user in users %}
       <div class="side-padding">
          <li><a href="{{ url_for('.user', username=user.username) }}">{{ user.first_name }} {{ user.last_name }}</a></li>
       </div>
    {% endfor %}-->
{% endblock %}