<!-- could import pathway page -->
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block header_content %}
    <h1>{{ title }}</h1>
{% endblock %}

{% block main_content %}
	{% if show_all %}
		<div class="panel panel-default table-responsive">
  			<table class="table">
  				<thead class="panel-heading">
  					<tr>
  						<th>Subject<span class="glyphicon glyphicon-chevron-down" /></th>
  						<th>Grade<span class="glyphicon glyphicon-chevron-down" /></th>
  						<th>Qualification<span class="glyphicon glyphicon-chevron-down" /></th>
  						<th>Institute<span class="glyphicon glyphicon-chevron-down" /></th>
  						<th class="text-center"><span class="glyphicon glyphicon-th-list" /></th>
  					</tr>
  				</thead>
  				<tbody>
				    {% for subs in subjects %}
				    <tr class="">
				    	<td class="">{{ subs.course_name }}</td>
					    <td class="">{{ subs.grade }}</td>
					    <td class="">{{ subs.qualification.qualification_type.name }}</td>
					    <td class="">Heriot Watt University</td>
					    <td class="text-center"><span class="glyphicon glyphicon-pencil" /> <span class="glyphicon glyphicon-remove" /></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<div class="panel-footer"><a href="{{ url_for('main.add_qualification') }}">Add New Qualification</a></div>
		</div>
	{% else %}
		<div class="col-md-4">
	      {{ wtf.quick_form(form) }}
	   </div>
	{% endif %}
{% endblock %}