<!-- Edit Profile Information, name password, email address, etc... -->
{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block nav_overwrite %}
  <li><a href="{{ url_for('main.index') }}">Home <span class="sr-only">(current)</span></a></li>
    <li><a href="{{ url_for('main.pathway') }}">Your Pathway</a></li>
    {% if current_user.is_authenticated %}
      <li><a href="{{ url_for('main.user', username=current_user.username) }}">Your Profile</a></li>
      <li><a href="{{ url_for('main.connections') }}">Connections</a></li>
    {% endif %}
    <li><a href="{{ url_for('main.about') }}">About</a></li>
{% endblock %}

{% block header_content %}
   <div class="page-header">
      <h1>{{ current_user.first_name }} {{ current_user.last_name }}</h1>
   </div>
{% endblock %}

{% block main_content %}
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <div class="row">
    <a href="{{ url_for('auth.send_new_password_email') }}"><button class="btn">Change Password</button></a>
    </div>
{% endblock %}