{% extends "base.html" %}
{% set active_page = "index" %}

<!-- Add page specific <head></head> elements here -->
{% block styles %}
	{{ super() }}
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/index_stylesheet.css') }}">
{% endblock %}

<!-- Page header 100% width -->
{% block header_content %}
	<!-- Home page Slideshow -->
	<div class="video-container">
		<video poster="{{ url_for('static', filename='img/education-stock-image.jpg') }}" muted="muted" autoplay="autoplay" loop="">
    		<!--<source type="video/ogg" src="{{ url_for('static', filename='media/EducationStock.oggtheora.ogv') }}">-->
    		<source type="video/webm" src="{{ url_for('static', filename='media/EducationStock.webmsd.webm') }}">
    		<source type="video/mp4" src="https://giant.gfycat.com/ExcitableAdorableElephantbeetle.mp4">
  		</video>
  		<div class="vcenter">
			<h1 id="get-started"><i>Start building your career roadmap with Pathways&trade;</i></h1>
			<a href="#blurb" class="get-started-button">
				Get Started
			</a>
			<a href="#" id="learn-more" class="get-started-button">
				Learn More
			</a>
			<span style="font-size: 60px;line-height: 1.33;display:block;text-align:center;color:white;" class="glyphicon glyphicon-menu-down" />
		</div>
	</div>
{% endblock %}

<!-- Main content block for page -->
{% block main_content %}
	<div class="blurb">
		<div class="row">
			<p class="col-md-6 sp">Pathways is here to help you plot out your career path from start to finish. We use a combination of your education, work experience and personal interests to show you a range of possible careers and field options that would be open to you.</p>
			<div class="hidden-xs col-md-6">
				<img  class="img-fluid img-circle img-responsive center-block" src="{{ url_for('static', filename='img/education-stock-image.jpg') }}">
			</div>
		</div>
		<div class="row" id="image-break-one">
			<h1 class="selling-point"><i>We use the latest qualification data from a range of sources, including UCAS, so that we can offer you up-to-date information on degree and career choices.</i></h1>
			<!--<img  class="col-md-6 img-responsive" src="{{ url_for('static', filename='img/comp_stock.jpg') }}">-->
		</div>
		<div class="row">
		   <p class="col-md-6 sp">Pathways can be used in two ways, you can give us your education so far and we'll come up with possible next steps for you, or you can tell us your planned career and we'll tell you how to get there. </p>
			<div class="hidden-xs col-md-6">
				<img  class="img-fluid img-circle img-responsive center-block" src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=FoShizzleMyNizzle&w=300&h=300&fm=png">
			</div>
		</div>
		<div class="row" id="image-break-two">
			<h1 class="selling-point"><i>To get started just <a href="{{ url_for('auth.register') }}">register </a> an account with us.</i></h1>
			<!--<img  class="col-md-6 img-responsive" src="{{ url_for('static', filename='img/comp_stock.jpg') }}">-->
		</div>
		<div class="row">
			<p class="col-md-6 sp">Blash blah blash blah blah</p>
			<div class="hidden-xs col-md-6">
				<img  class="img-fluid img-circle img-responsive center-block" src="https://placeholdit.imgix.net/~text?txtsize=28&bg=0099ff&txtclr=ffffff&txt=FoShizzleMyNizzle&w=300&h=300&fm=png">
			</div>
		</div>
	</div>
{% endblock %}

