{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block header_content %}
    <h1>New Password</h1>
{% endblock %}

{% block nav_overwrite %}
  <li><a href="{{ url_for('main.index') }}">Home <span class="sr-only">(current)</span></a></li>
    <li><a href="{{ url_for('main.pathway') }}">Your Pathway</a></li>
    {% if current_user.is_authenticated %}
      <li><a href="{{ url_for('main.user', username=current_user.username) }}">Your Profile</a></li>
      <li><a href="{{ url_for('main.connections') }}">Connections</a></li>
    {% endif %}
    <li><a href="{{ url_for('main.about') }}">About</a></li>
{% endblock %}

{% block main_content %}
    <div class="col-md-4">
      {{ wtf.quick_form(form) }}
      <br>
   </div>
{% endblock %}