{% extends "base.html" %}
{% set active_page = 'pathway' %}

<!-- Add page specific <head></head> elements here -->
{% block scripts %}
    {{ super() }}
	<script src="{{ url_for('static', filename='js/d3/d3.js') }}"></script>
	<script src="{{ url_for('static', filename='js/pathway.js') }}"></script>
{% endblock %}

{% block styles %}
	{{ super() }}
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/pathway_stylesheet.css') }}">
{% endblock %}

<!-- Page header 100% width -->
{% block header_content %}
	<div class="path-nav container-fluid row">
		<a class="col-md-4" href="{{ url_for('main.edit_qualification') }}">Edit Qualifications</a>
		<a class="col-md-4" href="{{ url_for('main.generate_pathway') }}">Generate Pathway</a>
		<svg class="col-md-4">
			<circle cx="0" class="node" r="10"></circle>
			<text x="25" y="5" fill="black">Present</text>
			<circle cx="175" class="node node-future" r="10"></circle>
			<text x="200" y="5" fill="black">Future</text>
		</svg>
    </div>
	<div id="pathway-container">
		<svg id="pathway-svg" class="overlay img-fluid"></svg>
	</div>
{% endblock %}

<!-- Main content block for page -->
{% block main_content %}
{% endblock %}
