{% extends "base.html" %}

<!-- Add page specific <head></head> elements here -->
{% block head_extension %}
	<script src="{{ url_for('static', filename='js/d3/d3.js') }}"></script>
{% endblock %}

<!-- Page header 100% width -->
{% block header_content %}
	<div id="pathway-container">
		This is where the pathways is shown
	</div>
{% endblock %}

<!-- Main content block for page -->
{% block main_content %}
    <p>This is section 2!</p>
    <div class="row">
		<div class="col-md-5 col-sm-5 qualifification-section">Qualification Section</div>
		<div class="col-md-5 col-sm-5 qualifification-section">Qualification Section</div>
		<div class="col-md-5 col-sm-5 qualifification-section">Qualification Section</div>
	</div>
{% endblock %}
