{% extends "base.html" %}

<!-- Add page specific <head></head> elements here -->
{% block scripts %}
    {{ super() }}
	<script src="{{ url_for('static', filename='js/d3/d3.js') }}"></script>
	<script src="{{ url_for('static', filename='js/pathway.js') }}"></script>
{% endblock %}

{% block styles %}
	{{ super() }}
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/pathway_stylesheet.css') }}">
{% endblock %}

<!-- Page header 100% width -->
{% block header_content %}
	<clipPath id="clip1">
	</clipPath>
	<div id="pathway-container">
		<svg class="overlay img-fluid"></svg>
	</div>
{% endblock %}

{% block nav_overwrite %}
	<li><a href="{{ url_for('main.index') }}">Home <span class="sr-only">(current)</span></a></li>
   	<li class="nav-active"><a href="{{ url_for('main.pathway') }}">Your Pathway</a></li>
	<li><a href="{{ url_for('main.user', username=current_user.username) }}">Your Profile</a></li>
{% endblock %}

<!-- Main content block for page -->
{% block main_content %}
	<div class="pathway-buttons row">
		<div class="col-md-4"><a href="{{ url_for('main.add_qualification') }}"><div>Add New Qualification</div></a></div>
		<div class="col-md-4"><a href="{{ url_for('main.edit_qualification') }}"><div>Edit Qualifications</div></a></div>
		<div class="col-md-4"><a href="{{ url_for('main.generate_pathway') }}"><div>Generate New Future Pathway</div></a></div>
	</div>
{% endblock %}
