{% extends"base.html" %}

{% block header_content %}
   <div class="header">
      <h1>Search results for {{ term }}</h1>
   </div>
{% endblock %}

{% block main_content %}
<div class="container-fluid">
    {% if careers|length > 0 %}
        <div class="row search-result">
            <div class="col-md-4"><h3>Careers</h3></div>
            <div class="col-md-4"><h3>Related Fields</h3></div>
        </div>
    {% endif %}
    {% for c in careers %}
        <a href="{{ url_for('main.career', careername=c.name) }}" class="row search-result">
            <div class="col-md-4">
                {{ c.name }}
            </div>
            <div class="col-md-4">
                {% set fields = [] %}
                {% for s in c.subjects %}
                    {% if s.subject.field != None %}
                        {% if s.subject.field.name not in fields %}
                        <!--{{ fields.append(s.subject.field.name) }}-->
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% for f in fields %}
                    {{ f }}{% if not loop.last %},{% endif %}
                {% endfor %}
            </div>
        </a>
    {% endfor %}
    <br /><br />
    {% if users|length > 0 %}
        <div class="row search-result">User</div>
    {% endif %}
    {% for u in users %}
        <a href="{{ url_for('main.user', username=u.username) }}" class="row search-result">
            <div class="col-md-12"> 
                {{ u.first_name }} {{ u.last_name }}
            </div>
        </a>
    {% endfor %}
    {% if careers|length == 0 and users|length == 0%}
        <div class="row">No results found.</div>
    {% endif %}
</div>
{% endblock %}
