<!-- could import pathway page -->
{% extends "base.html" %}

{% block header_content %}
    <div class="header">
       <h1>{{ user.first_name + " " + user.last_name}}</h1>
    </div>
    <div class="side-padding">
       <img src="{{ user.gravatar(256) }}">
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/d3/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pathway.js') }}"></script>
{% endblock %}

{% block nav_overwrite %}
  <li><a href="{{ url_for('main.index') }}">Home <span class="sr-only">(current)</span></a></li>
  <li><a href="{{ url_for('main.pathway') }}">Your Pathway</a></li>
  <li class="nav-active"><a href="{{ url_for('main.user', username=current_user.username) }}">Your Profile</a></li>
  <li><a href="{{ url_for('main.connections') }}">Connections</a></li>
{% endblock %}

{% block main_content %}
    <p> This is the profile page for {{ user.first_name + " " + user.last_name}} </p>
    <p>Actions:</p>
    <div class="side-padding">
        {% if user==current_user %}      
            <li><a href="{{ url_for('main.edit') }}">Edit Profile</a></li>
            <li><a href="{{ url_for('main.edit_qualification') }}">Edit Qualifications</a></li>       
        {% elif user in current_user.connections %}
            <li><a href="{{ url_for('main.edit') }}">Remove Connections</a></li>
        {% elif user in current_user.invitations %}
            <li><a href="{{ url_for('.add_connection', username=user.username)}}">Accept Connection Request</a></li>
       <!-- Ignore request -->
       {% elif user in current_user.requests %}
          <li>Connection Request Pending</li>
       {% else %}
          <li><a href="{{ url_for('.add_connection', username=user.username)}}">Send Connection Request</a></li>
       {% endif %}
    </div>
    <div class="profile-pathway">
        <div id="pathway-container" height=700px>
            <svg class="overlay img-fluid"></svg>
        </div>
    </div>

    {% if user == current_user or user in current_user.connections %}
       <h3>Page comments</h3>
        {% for c in comments %}
            <p><a href="{{ url_for('main.user', username=c.author.username) }}"><img src="{{ c.author.gravatar(32) }}">
                {{ c.author.first_name }} {{ c.author.last_name }}</a>: {{ c.body }}</p>
        {% endfor %}
        <form action="" method="post" name="comment">
         {{ form.hidden_tag() }}
         <br>
            <p>
               {{ form.body(size=64) }}<br>
         <p>{{ form.submit }}</p>
      </form>




    {% else %}
       <p>You are unable to see this data as you are not connected to the user</p>
    {% endif %}
{% endblock %}