<!-- could import pathway page -->
{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% set active_page = "user" %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/d3/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pathway.js') }}"></script>
{% endblock %}

{% block header_content %}
    <div class="row" style="background-color: red">
        <div class="col-md-3" style="background-color: green">
            <div class="profile-image-wrapper">
                <img src="{{ user.gravatar(256) }}">
            </div>

            <div class="profile-name"> {{ user.first_name + " " + user.last_name }} </div>
            <p>Actions:</p>
            <div class="btn-group-vertical" role="group">
                {% if user==current_user %}
                    <a role="button" class="btn btn-default" href="{{ url_for('main.edit') }}">Edit Profile</a>
                    <a role="button" class="btn btn-default" href="{{ url_for('main.edit_qualification') }}">Edit Qualifications</a>
                {% elif user in current_user.connections %}
                    <div><a class="btn btn-default" href="{{ url_for('.remove_connection', username=user.username) }}">Remove
                        Connection</a></div>
                {% elif user in current_user.invitations %}
                    <div><a class="btn btn-default" href="{{ url_for('.add_connection', username=user.username) }}">Accept
                        Connection Request</a></div>
                    <br>
                    <div><a class="btn btn-default" href="{{ url_for('.decline_connection', username=user.username) }}">Decline
                        Connection Request</a></div>
                    <!-- Ignore request -->
                {% elif user in current_user.requests %}
                    <div>Connection Request Pending</div>
                {% else %}
                    <div><a class="btn btn-default" href="{{ url_for('.add_connection', username=user.username) }}">Send
                        Connection Request</a></div>
                {% endif %}
            </div>
        {% if user == current_user or user in current_user.connections %}
            <div>
                <h3>Skills and Interests</h3>
                <ul class="list-skills">
                    {% for s in user.skills %}
                        <li id="{{ s.name }}List">{{ s.name }}&nbsp;<button type="button" class="close delete-skill" id="{{ s.name }}">&times;</button></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        </div>
    {% if user == current_user or user in current_user.connections %}
        <div class="col-md-9" style="background-color: red">
            <div class="profile-pathway">
                <div id="pathway-container" height=700px>
                    <svg class="overlay img-fluid"></svg>
                </div>
            </div>
        </div>
    {% endif %}
    </div>
{% endblock %}

{% block main_content %}
    {% if user == current_user or user in current_user.connections %}
        <div>
            <h3>Page comments</h3>
            {% for c in comments %}
                <div><a href="{{ url_for('main.user', username=c.author.username) }}"><img
                        src="{{ c.author.gravatar(32) }}">
                    {{ c.author.first_name }} {{ c.author.last_name }}</a>: {{ c.body }} 
                    <div class="dropdown report-comment">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('main.reportcomment', commentid=c.id) }}">Report This Comment </a></li>
                            </ul>
                    </div>
                </div>
            {% endfor %}
            <div class="pagination">
                {{ macros.pagination_widget(pagination, 'main.user', username=user.username) }}
            </div>
            <form action="" method="post" name="comment">
                {{ form.hidden_tag() }}
                <br>
                <p>
                    {{ form.body(size=64) }}<br>
                <p>{{ form.submit }}</p>
            </form>
        </div>
    {% endif %}
{% endblock %}